spring:
  application:
    name: finance-tracker
  datasource:
    url: jdbc:postgresql://localhost:5432/finance_db
    username: user
    password: password
  jpa:
    # Отключаем авто-создание Hibernate, так как используем миграции
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    baseline-on-migrate: true

  security:
    user:
      name: admin
      password: admin

logging:
  level:
    com.example.financetracker: DEBUG